### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
eggs/
.eggs/
*.egg-info/
*.egg

# Environments
.env
.venv
venv/

# Unit test / coverage reports
.pytest_cache/
